<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
          <class name="qafox_test.QafoxTest"/>
          <class name="qafox_test.QafoxLoginTest"/>
          <class name="qafox_test.QafoxPageTest"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
